services:

  wordpress:
    image: wordpress
    restart: always
    ports:
      - 8080:80
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: exampleuser
      WORDPRESS_DB_PASSWORD: examplepass
      WORDPRESS_DB_NAME: exampledb
    volumes:
      - wordpress:/var/www/html

  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: exampledb
      MYSQL_USER: exampleuser
      MYSQL_PASSWORD: examplepass
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - db:/var/lib/mysql

  frontend:
    build: ./frontend

  postgres:
    image: postgres
    restart: always
    shm_size: 128mb
    env_file: .env
    ports:
      - 5432:5432
      
  pgadmin4:
    image: dpage/pgadmin4
    ports:
      - 80:80
    container_name: pgadmin4_container
    volumes:
      # https://www.pgadmin.org/docs/pgadmin4/latest/container_deployment.html
      - pgadmin_data:/var/lib/pgadmin
    env_file: .env

volumes:
  wordpress:
  db:
  pgadmin_data:
